*{
	padding: 0;
	margin: 0;
}
body{
	width:100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f2f2f2;
}
.container{
	padding: 50px;
	background-color: #74b9ff;
	border: 3px solid black;
    border-radius: 10px;
}
.timer{
	text-align: center;
	padding: 20px;
	font-size: 50px;
}
button{
	padding: 20px;
	font-size: 20px;
	border: 2px solid black;
    border-radius: 5px;
}